
.cuerpo{
	background-color: #000;
}

.text-blanco{
	color: #fff;
}

.enlace-sencillo{
	text-decoration: none !important;
}

img.circle-border {
    border: 6px solid #FFFFFF;
    border-radius: 50%;
}

img.max{
	max-width: 160px;
	max-height: 160px;
}